*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5ebf1e5;
    min-height: 100vh;
    border: 7px solid #023361e5;
    width: 100%;
}
.content{
    max-width: 1000px;
    margin: 0 auto 0 auto;
    }
.main-section{
    margin-top: 100px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
     
}
.main-section h1{
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
}
.main-section h4{
    
text-align: end;

}
.img-class{
    border-radius:  50% ;
    overflow: hidden;
    
}


.img-class img{
    width: 300px;
    height: 320px;

}
.about-section{
    margin-top: 50px;
}
.about-section h2{
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 400;
}
.about-section p{
    font-size: 20px;
   line-height: 30px;
   letter-spacing: 1.2px;
   text-align: justify;
}
.bio-section{
    margin-top: 50px;
}
.bio-section h3{
    margin-bottom: 20px;
}

.bio-section ul{
    margin-left: 50px;
    margin-bottom: 50px;
}
.bio-section li{
    margin-bottom: 15px;
}
footer{
    margin-bottom: 50px;
}
footer p{
    text-align: end;
}

